.postson-container {
    display: flex;
    margin-top: 20px;
    width: 1200px;
    height: 800px;
    background-color: antiquewhite;
    border: 2px solid #e3e3e3;
    cursor: pointer;
}
.aside {
    width: 240px;
    padding: 20px 12px;
    background-color: #fff;
    overflow-y: scroll;
    
}

.aside .aside-item-title {
    line-height: 26px;
    font-size: 14px;
    text-align: center;
    border-bottom: 2px solid #eee;
}

.aside .aside-item {
    display: flex;
    padding: 10px 0;
    font-size: 14px;
    border-bottom: 2px solid #eee;
}

.aside .aside-item .methods {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    font-weight: bold;
}
.aside .aside-item .url {
    flex: 1;
    text-align: left;
    word-break: break-all; 
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.aside .aside-item .url:hover {
    color:#ccc;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.request-container {
    display: flex;
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
}
.methods-select,
.methods-select>option {
    width: 120px;
    height: 100%;
    border-radius: 6px;
    padding: 10px;
    padding-left: 20px;
    line-height: 24px;
    text-align: center;
    box-sizing: border-box;
    background-color: #f5f5f5;
    color: #666;
    font-size: 20px;
    text-align: center;
    outline: none;
}
.url-input {
    flex: 1;
    height: 100%;
    padding:0 20px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #666;
    background-color: #f5f5f5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.send-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100%;
    background-color: #409EFF;
    border-radius: 6px;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
}
.json-content {
    flex: 1;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    text-align: left;
}
.json-content::-webkit-scrollbar { width: 0 !important }

.params-container {
    width: 100%;
    margin: 20px 0;
    max-height: 200px;
    overflow-y: scroll;
}
/* .params-container::-webkit-scrollbar { width: 0 !important } */
.params-title {
    font-size: 16px;
    color: #666;
    text-align: left;
    font-weight: bold;
    margin-bottom: 12px;
}
.params-flex {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid rgb(184, 184, 184);
    line-height: 28px;
    height: 30px;
    font-size: 14px;
}
.params-flex div {
    flex: 1;
    border: 1px solid rgb(184, 184, 184);
    margin-top: -1px;
    margin-left: -1px;
    box-sizing: border-box;
    overflow: hidden;
}
.params-flex div:first-child{
    margin-left: 0;
}
.params-flex input {
    flex: 1;
    padding-left: 14px;
    font-size: 14px;
    border: none;
    outline: none;
    height: 100%;
    width: 80%;
    background-color: #f5f5f5;
}
.params-handle {
    display: flex;
    justify-content: space-between;
}
.params-flex span {
    display: block;
    margin-right: 10px;
    color: aqua;
}